<footer class="fab-footer">
  <img src="assets/images/wave-one.svg" alt="footer wave">
  <div class="footer-content-wrapper text-white fab-pt-50 text-center">
    <div class="footer-content">
      <!-- <p>any contents</p> -->
    </div>
    <div class="copyright fab-mt-30">
      <a href="" class="text-white">Terms & conditions</a>
      <a href="" class="text-white fab-ml-20">Privacy policy</a>
      <p class="fab-mt-20">
        Copyright &copy; 2021 Fabrae
      </p>
    </div>
  </div>
</footer>
