<app-secondary-navbar></app-secondary-navbar>

<main>
  <section class="quiz">
    <h2 class="fab-heading fab-pb-50">
      Choose your Category
    </h2>

    <div class="quiz-options">
      <a class="fab-btn" (click)="men()" style="cursor: pointer;">Men</a>
      <a class="fab-btn" (click)="women()" style="cursor: pointer;">Women</a>
      <a class="fab-btn" (click)="kids()" style="cursor: pointer;">Kids</a>
    </div>

    <div class="prev-next">
      <a routerLink="/" class="fab-btn">Back</a>
    </div>
  </section>

  <img src="assets/images/wave-one.svg" alt="Wave 1 Design" class="wave">
</main>

