<app-secondary-navbar></app-secondary-navbar>

<main>
  <section class="quiz">
    <h2 class="fab-heading fab-pb-50">
      Choose your Category
    </h2>

    <div class="quiz-options">
      <a routerLink="/quiz/male/1" class="fab-btn">Men</a>
      <a routerLink="/quiz/female/1" class="fab-btn">Women</a>
      <a routerLink="/quiz/kids/1" class="fab-btn">Kids</a>
    </div>

    <div class="prev-next">
      <a routerLink="/" class="fab-btn">Back</a>
    </div>
  </section>

  <img src="assets/images/wave-one.svg" alt="Wave 1 Design" class="wave">
</main>

