@import
  '/src/assets/Scss/abstracts/variables',
  '/src/assets/Scss/abstracts/mixins';

.quiz {
  // height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.quiz-options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @include media(md) {
    width: 600px;
  }
}

.quiz-ques {
  margin-top: 60px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.options {
  margin: 0px 10px;
}

.wave {
  margin-top: 50px;
  margin-bottom: -4px;
}

.form-check-label {
  vertical-align: sub;
  line-height: 1.5;
}
