@import
  '/src/assets/Scss/abstracts/variables',
  '/src/assets/Scss/abstracts/mixins';

.fab-heading {
  padding-bottom: 30px;

  @include media-upto(md) {
    padding-bottom: 50px;
  }
}

.quiz {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.quiz-options {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include media-upto(md) {
    flex-direction: column;
  }

  @include media(md) {
    width: 600px;
  }
  .fab-btn {
    width: 150px;
    margin-top: 20px;

    &:first-child {
      margin-top: 0px;
    }

    @include media(sm) {
      margin-left: 20px;
      margin-top: 0px;

      &:first-child {
        margin-left: 0px;
      }
    }
  }
}

.options {
  @include media-upto(md) {
    margin-top: 20px;

    &:first-child {
      margin-top: 0px;
    }
  }

  @include media(md) {
    width: 300px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}

.prev-next {
  position: absolute;
  bottom: 30px;
}

.wave {
  position: absolute;
  bottom: 0;
  margin-bottom: -4px;
}

.form-check-label {
  vertical-align: sub;
}

.form-check {
  display: inline-block;
  // display: flex;
  // align-items: center;
}
