<app-secondary-navbar></app-secondary-navbar>

<main>
  <section class="wardrobe-products">
    <div class="msg-container">
      <p class="default-msg">Specialits is Picking the Dress from your selection!</p>
      <div class="prev-next fab-mt-50">
        <a routerLink="/" class="fab-btn fab-btn-filled">Back to Home</a>
      </div>
    </div>
  </section>
  <section class="wardrobe-product-list container fab-mt-50 fab-mb-50">
    <h2 class="war-title fab-mt-100">Curated Selections for You!</h2>

    <div class="prod-list">
      <div class="card" *ngFor="let dt of data" (click)="openProduct(dt._id,dt)" style="cursor: pointer;">
        <img class="card-img-top" [src]="dt.photoLink" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title fab-mt-10">{{dt.brand}}</h5>
          <p class="prod-name fab-mt-20">
            {{dt.productName}}
          </p>
          <div class="war-det fab-mt-30">
            <p><b>Size :</b> {{dt.size}}</p>
            <p><b>Price :</b> &#x20B9;{{dt.price}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>
