.wardrobe-products {
  height: 90vh;
}

.msg-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 20px;
  text-align: center;
}
