
.fab-mt-10 { margin-top: 10px; }
.fab-mt-20 { margin-top: 20px; }
.fab-mt-30 { margin-top: 30px; }
.fab-mt-40 { margin-top: 40px; }
.fab-mt-50 { margin-top: 50px; }
.fab-mt-60 { margin-top: 60px; }
.fab-mt-70 { margin-top: 70px; }
.fab-mt-80 { margin-top: 80px; }
.fab-mt-90 { margin-top: 90px; }
.fab-mt-100 { margin-top: 100px; }

.fab-mb-10 { margin-bottom: 10px; }
.fab-mb-20 { margin-bottom: 20px; }
.fab-mb-30 { margin-bottom: 30px; }
.fab-mb-40 { margin-bottom: 40px; }
.fab-mb-50 { margin-bottom: 50px; }

.fab-mr-20 { margin-right: 20px; }

.fab-ml-10 { margin-left: 10px; }
.fab-ml-20 { margin-left: 20px; }
.fab-ml-30 { margin-left: 30px; }
.fab-ml-40 { margin-left: 40px; }
.fab-ml-50 { margin-left: 50px; }

.fab-pt-50 { padding-top: 50px; }
.fab-pt-100 { padding-top: 100px; }
.fab-pt-150 { padding-top: 150px; }
.fab-pt-200 { padding-top: 200px; }

.fab-pb-50 { padding-bottom: 50px; }
.fab-pb-100 { padding-bottom: 100px; }
.fab-pb-150 { padding-bottom: 150px; }
.fab-pb-200 { padding-bottom: 200px; }

.fab-plr-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.fab-body-fixed {
  overflow: hidden;
}
