<div class="brands-partnered fab-pt-100 fab-pb-200">
  <div class="brands-partnered-content text-center fab-plr-20">
    <h2 class="fab-heading">
      Brands We Partnered
    </h2>
    <div class="brand-logos container fab-mt-80">
      <figure class="">
        <img src="assets/images/polo.webp" alt="b1">
        <img src="assets/images/levis.webp" alt="b2">
        <img src="assets/images/roadster.webp" alt="b5">
        <img src="assets/images/gucci.webp" alt="b3">
        <img src="assets/images/tommy_hilfiger.webp" alt="b4">
        <img src="assets/images/reebok.webp" alt="b6">
        <img src="assets/images/adidas.webp" alt="b6">
        <img src="assets/images/diesel.webp" alt="b6">
      </figure>
    </div>
  </div>
</div>
