

<div class="login-page">

  <img class="wave" src="../../assets/images/login/wave.png">
	<div class="container">
    <div class="img">
      <img src="../../assets/images/login/login.svg">
		</div>
		<div class="login-content">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <img src="../../assets/images/login/logo-green.svg">
				<h2 class="title">Welcome</h2>
        <div class="input-div one">
          <div class="i">
            <i class="fas fa-user"></i>
          </div>
          <div class="div">
            <!-- <h5>Username</h5> -->
            <input type="email" placeholder="Email" class="inputfield" formControlName="email">
          </div>
        </div>
        <div class="error-msg" *ngIf="fab.email.invalid && (fab.email.dirty || fab.email.touched)">
          <div *ngIf="fab.email.errors?.required">
            Email is required.
          </div>
          <div *ngIf="fab.email.errors?.email">
            Email Should be Valid.
          </div>
        </div>
        <div class="input-div pass">
          <div class="i"> 
            <i class="fas fa-lock"></i>
          </div>
          <div class="div">
            <!-- <h5>Password</h5> -->
            <input type="password" placeholder="Password"  formControlName="password">
          </div>
        </div>
        <div class="error-msg" *ngIf="fab.password.invalid && (fab.password.dirty || fab.password.touched)">
          <div *ngIf="fab.password.errors?.required">
            Password is required.
          </div>
        </div>
        <!-- <a href="#">Forgot Password?</a> -->
        <input type="submit" name="login" value="Login" class="btn" [disabled]="!loginForm.valid">
        <!-- <button class="btn" (click)="loginWithGoogle()">Sign in with Google</button> -->
        <a routerLink="/sign-up" style="text-align: center;">Click here to <span style="color:#38d39f">Signup!</span></a>
        <div class="error-msg" style="margin-top: 10px;">{{googleErrorResponse}}</div>
        <div class="error-msg" style="margin-top: 10px;">{{loginErrorResponse}}</div>
      </form>
    </div>
  </div>
</div>