<main class="login-container">
  <div class="row">
    <div class="col-md-7 logo-container">
      <img src="assets/images/fabrae-logo.svg" alt="" class="login-logo">
    </div>
    <div class="col-md-5 form-container">
      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <img src="assets/images/fabrae-logo.svg" alt="" class="login-logo-inner">
        <h2 class="login-title">Login</h2>
        <div class="fab-form-group" style="margin-top: 5px;">
          <input type="email" placeholder="Email" class="inputfield" formControlName="email">
          <div class="error-msg" *ngIf="fab.email.invalid && (fab.email.dirty || fab.email.touched)">
            <div *ngIf="fab.email.errors?.required">
              Email is required.
            </div>
            <div *ngIf="fab.email.errors?.email">
              Email Should be Valid.
            </div>
          </div>
        </div>
        <div class="fab-form-group" style="margin-top: 5px;">
          <input type="password" placeholder="Password" class="inputfield" formControlName="password">
          <div class="error-msg" *ngIf="fab.password.invalid && (fab.password.dirty || fab.password.touched)">
            <div *ngIf="fab.password.errors?.required">
              Password is required.
            </div>
          </div>
        </div>
        <input type="submit" name="login" value="Login" class="fab-login-btn fab-mt-30" [disabled]="!loginForm.valid">
        <!-- <a routerLink="/change-password" class="forgot-ps fab-mt-10">Forgot Password!</a> -->

        <p class="fab-mt-30">New User? <a routerLink="/sign-up" class="sign-up">Sign Up</a></p>
      </form>
    </div>
  </div>
</main>
