@import
  '/src/assets/Scss/abstracts/variables',
  '/src/assets/Scss/abstracts/mixins';

// Testimonial

.testimonial {
  .wave {
    margin-top: -4px;
  }

  .carousel-indicators {
    position: initial;

    button {
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background-color: $primary-color;
    }
  }
}

.testimonial-card-container {
  width: 300px;
  text-align: initial;
}

.testimonial-card {
  height: 200px;
  width: 100%;
  border-radius: 15px;
  padding: 20px;
  background: linear-gradient(92.32deg, #0F5860 4.11%, #15B793 80.06%);

  figure {
    height: 20px;
    width: 20px;
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .testimonial-card-content {
    font-size: 16px;
  }
}

.testimonial-arrow {
  margin-left: 20px;
}

.testimonial-author {
  display: flex;
  align-items: center;

  figure {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 5px;
    margin-top: 5px;
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}

.testimonial-author-name {
  font-size: 14px;
}

.testimonial-author-designation {
  font-size: 12px;
  color: grey;
  margin-top: 5px;
}

.testimonial-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bp-lg {
  @include media-upto(lg) {
    display: none;
  }
  @include media(lg) {
    display: block;
  }
}

.bp-md {
  @include media-upto(md) {
    display: none;
  }
  @include media(lg) {
    display: none;
  }
  @include media-between(md, lg) {
    display: block;
  }
}

.bp-sm {
  @include media-upto(sm) {
    display: block;
  }
  @include media(md) {
    display: none;
  }
}

