<div class="testimonial fab-pb-50">
  <img src="assets/images/wave-two.svg" alt="Wave 2 Design" class="wave">
  <div class="testimonial-content fab-pt-100 text-center" id="testimonials">
    <h2 class="fab-heading">
      Some words from fashion heads
    </h2>
    <div class="container testimonial-carousel fab-mt-70">
      <!-- For Large Devices -->
      <div id="testimonial-carousel-indicators-lg" class="carousel carousel-dark slide bp-lg" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="testimonial-group">
              <div class="testimonial-card-container">
                <div class="testimonial-card">
                  <figure>
                    <img src="assets/images/facebook.svg" alt="">
                  </figure>
                  <p class="testimonial-card-content fab-mt-10 text-white">
                    This is one of the best service
available in fashion. I saved lots of time
and money by subscribing to the service.
                  </p>
                </div>
                <img src="assets/images/testimonial-arrow.svg" alt="Testimonial Arrow" class="testimonial-arrow">
                <div class="testimonial-author">
                  <figure>
                    <img src="../../../assets/images/shahid.jpeg" alt="">
                  </figure>
                  <div class="testimonial-author-info fab-ml-20">
                    <p class="testimonial-author-name">
                      Shahid
                    </p>
                    <p class="testimonial-author-designation">
                      Fashion Designer
                    </p>
                  </div>
                </div>
              </div>
              <div class="testimonial-card-container">
                <div class="testimonial-card">
                  <figure>
                    <img src="assets/images/facebook.svg" alt="">
                  </figure>
                  <p class="testimonial-card-content fab-mt-10 text-white">
                    My fashion wardrobe has never
been this good, Thanks to fabrae stylists.
                  </p>
                </div>
                <img src="assets/images/testimonial-arrow.svg" alt="Testimonial Arrow" class="testimonial-arrow">
                <div class="testimonial-author">
                  <figure>
                    <img src="../../../assets/images/roshan.jpeg" alt="">
                  </figure>
                  <div class="testimonial-author-info fab-ml-20">
                    <p class="testimonial-author-name">
                      Roshan
                    </p>
                    <p class="testimonial-author-designation">
                      Customer
                    </p>
                  </div>
                </div>
              </div>
              <div class="testimonial-card-container">
                <div class="testimonial-card">
                  <figure>
                    <img src="assets/images/facebook.svg" alt="">
                  </figure>
                  <p class="testimonial-card-content fab-mt-10 text-white">
                    The value that they offer for the
service is very good. I saved lots of time
scrolling all the sites. This is great to have
all in one place. I really love the service.
                  </p>
                </div>
                <img src="assets/images/testimonial-arrow.svg" alt="Testimonial Arrow" class="testimonial-arrow">
                <div class="testimonial-author">
                  <figure>
                    <img src="../../../assets/images/prabhu.jpeg" alt="">
                  </figure>
                  <div class="testimonial-author-info fab-ml-20">
                    <p class="testimonial-author-name">
                      Prabhu
                    </p>
                    <p class="testimonial-author-designation">
                      Customer
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="testimonial-group">
              <div class="testimonial-card-container">
                <div class="testimonial-card">
                  <figure>
                    <img src="assets/images/facebook.svg" alt="">
                  </figure>
                  <p class="testimonial-card-content fab-mt-10 text-white">
                    This is one of the best service
available in fashion. I saved lots of time
and money by subscribing to the service.
                  </p>
                </div>
                <img src="assets/images/testimonial-arrow.svg" alt="Testimonial Arrow" class="testimonial-arrow">
                <div class="testimonial-author">
                  <figure>
                    <img src="../../../assets/images/shahid.jpeg" alt="">
                  </figure>
                  <div class="testimonial-author-info fab-ml-20">
                    <p class="testimonial-author-name">
                      Shahid
                    </p>
                    <p class="testimonial-author-designation">
                      Fashion Designer
                    </p>
                  </div>
                </div>
              </div>
              <div class="testimonial-card-container">
                <div class="testimonial-card">
                  <figure>
                    <img src="assets/images/facebook.svg" alt="">
                  </figure>
                  <p class="testimonial-card-content fab-mt-10 text-white">
                    My fashion wardrobe has never
been this good, Thanks to fabrae stylists.
                  </p>
                </div>
                <img src="assets/images/testimonial-arrow.svg" alt="Testimonial Arrow" class="testimonial-arrow">
                <div class="testimonial-author">
                  <figure>
                    <img src="../../../assets/images/roshan.jpeg" alt="">
                  </figure>
                  <div class="testimonial-author-info fab-ml-20">
                    <p class="testimonial-author-name">
                      Roshan
                    </p>
                    <p class="testimonial-author-designation">
                      Customer
                    </p>
                  </div>
                </div>
              </div>
              <div class="testimonial-card-container">
                <div class="testimonial-card">
                  <figure>
                    <img src="assets/images/facebook.svg" alt="">
                  </figure>
                  <p class="testimonial-card-content fab-mt-10 text-white">
                    The value that they offer for the
service is very good. I saved lots of time
scrolling all the sites. This is great to have
all in one place. I really love the service.
                  </p>
                </div>
                <img src="assets/images/testimonial-arrow.svg" alt="Testimonial Arrow" class="testimonial-arrow">
                <div class="testimonial-author">
                  <figure>
                    <img src="../../../assets/images/prabhu.jpeg" alt="">
                  </figure>
                  <div class="testimonial-author-info fab-ml-20">
                    <p class="testimonial-author-name">
                      Prabhu
                    </p>
                    <p class="testimonial-author-designation">
                      Customer
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-indicators fab-mt-20">
          <button type="button" data-bs-target="#testimonial-carousel-indicators-lg" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide group 1"></button>
          <button type="button" data-bs-target="#testimonial-carousel-indicators-lg" data-bs-slide-to="1" aria-label="Slide group 2"></button>
        </div>
      </div>

      <!-- For Medium Devices -->
      <div id="testimonial-carousel-indicators-md" class="carousel carousel-dark slide bp-md" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="testimonial-group">
              <div class="testimonial-card-container">
                <div class="testimonial-card">
                  <figure>
                    <img src="assets/images/facebook.svg" alt="">
                  </figure>
                  <p class="testimonial-card-content fab-mt-10 text-white">
                    This is one of the best service
available in fashion. I saved lots of time
and money by subscribing to the service.
                  </p>
                </div>
                <img src="assets/images/testimonial-arrow.svg" alt="Testimonial Arrow" class="testimonial-arrow">
                <div class="testimonial-author">
                  <figure>
                    <img src="../../../assets/images/shahid.jpeg" alt="">
                  </figure>
                  <div class="testimonial-author-info fab-ml-20">
                    <p class="testimonial-author-name">
                      Shahid
                    </p>
                    <p class="testimonial-author-designation">
                      Fashion Designer
                    </p>
                  </div>
                </div>
              </div>
              <div class="testimonial-card-container">
                <div class="testimonial-card">
                  <figure>
                    <img src="assets/images/facebook.svg" alt="">
                  </figure>
                  <p class="testimonial-card-content fab-mt-10 text-white">
                    My fashion wardrobe has never
been this good, Thanks to fabrae stylists.
                  </p>
                </div>
                <img src="assets/images/testimonial-arrow.svg" alt="Testimonial Arrow" class="testimonial-arrow">
                <div class="testimonial-author">
                  <figure>
                    <img src="../../../assets/images/roshan.jpeg" alt="">
                  </figure>
                  <div class="testimonial-author-info fab-ml-20">
                    <p class="testimonial-author-name">
                      Roshan
                    </p>
                    <p class="testimonial-author-designation">
                      Customer
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="testimonial-group">
              <div class="testimonial-card-container">
                <div class="testimonial-card">
                  <figure>
                    <img src="assets/images/facebook.svg" alt="">
                  </figure>
                  <p class="testimonial-card-content fab-mt-10 text-white">
                    The value that they offer for the
service is very good. I saved lots of time
scrolling all the sites. This is great to have
all in one place. I really love the service.
                  </p>
                </div>
                <img src="assets/images/testimonial-arrow.svg" alt="Testimonial Arrow" class="testimonial-arrow">
                <div class="testimonial-author">
                  <figure>
                    <img src="../../../assets/images/prabhu.jpeg" alt="">
                  </figure>
                  <div class="testimonial-author-info fab-ml-20">
                    <p class="testimonial-author-name">
                      Prabhu
                    </p>
                    <p class="testimonial-author-designation">
                      Customer
                    </p>
                  </div>
                </div>
              </div>
              <div class="testimonial-card-container">
                <div class="testimonial-card">
                  <figure>
                    <img src="assets/images/facebook.svg" alt="">
                  </figure>
                  <p class="testimonial-card-content fab-mt-10 text-white">
                    This is one of the best service
available in fashion. I saved lots of time
and money by subscribing to the service.
                  </p>
                </div>
                <img src="assets/images/testimonial-arrow.svg" alt="Testimonial Arrow" class="testimonial-arrow">
                <div class="testimonial-author">
                  <figure>
                    <img src="../../../assets/images/shahid.jpeg" alt="">
                  </figure>
                  <div class="testimonial-author-info fab-ml-20">
                    <p class="testimonial-author-name">
                      Shahid
                    </p>
                    <p class="testimonial-author-designation">
                      Fashion Designer
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="testimonial-group">
              <div class="testimonial-card-container">
                <div class="testimonial-card">
                  <figure>
                    <img src="assets/images/facebook.svg" alt="">
                  </figure>
                  <p class="testimonial-card-content fab-mt-10 text-white">
                    My fashion wardrobe has never
been this good, Thanks to fabrae stylists.
                  </p>
                </div>
                <img src="assets/images/testimonial-arrow.svg" alt="Testimonial Arrow" class="testimonial-arrow">
                <div class="testimonial-author">
                  <figure>
                    <img src="../../../assets/images/roshan.jpeg" alt="">
                  </figure>
                  <div class="testimonial-author-info fab-ml-20">
                    <p class="testimonial-author-name">
                      Roshan
                    </p>
                    <p class="testimonial-author-designation">
                      Customer
                    </p>
                  </div>
                </div>
              </div>
              <div class="testimonial-card-container">
                <div class="testimonial-card">
                  <figure>
                    <img src="assets/images/facebook.svg" alt="">
                  </figure>
                  <p class="testimonial-card-content fab-mt-10 text-white">
                    The value that they offer for the
service is very good. I saved lots of time
scrolling all the sites. This is great to have
all in one place. I really love the service.
                  </p>
                </div>
                <img src="assets/images/testimonial-arrow.svg" alt="Testimonial Arrow" class="testimonial-arrow">
                <div class="testimonial-author">
                  <figure>
                    <img src="../../../assets/images/prabhu.jpeg" alt="">
                  </figure>
                  <div class="testimonial-author-info fab-ml-20">
                    <p class="testimonial-author-name">
                      Prabhu
                    </p>
                    <p class="testimonial-author-designation">
                      Customer
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-indicators fab-mt-20">
          <button type="button" data-bs-target="#testimonial-carousel-indicators-md" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide group 1"></button>
          <button type="button" data-bs-target="#testimonial-carousel-indicators-md" data-bs-slide-to="1" aria-label="Slide group 2"></button>
          <button type="button" data-bs-target="#testimonial-carousel-indicators-md" data-bs-slide-to="2" aria-label="Slide group 3"></button>
        </div>
      </div>

      <!-- For Small Devices -->
      <div id="testimonial-carousel-indicators-sm" class="carousel carousel-dark slide bp-sm" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="testimonial-card-container" style="margin: auto;">
              <div class="testimonial-card">
                <figure>
                  <img src="assets/images/facebook.svg" alt="">
                </figure>
                <p class="testimonial-card-content fab-mt-10 text-white">
                  This is one of the best service
available in fashion. I saved lots of time
and money by subscribing to the service.
                </p>
              </div>
              <img src="assets/images/testimonial-arrow.svg" alt="Testimonial Arrow" class="testimonial-arrow">
              <div class="testimonial-author">
                <figure>
                  <img src="../../../assets/images/shahid.jpeg" alt="">
                </figure>
                <div class="testimonial-author-info fab-ml-20">
                  <p class="testimonial-author-name">
                    Shahid
                  </p>
                  <p class="testimonial-author-designation">
                    Fashion Designer
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="testimonial-group">
              <div class="testimonial-card-container" style="margin: auto;">
                <div class="testimonial-card">
                  <figure>
                    <img src="assets/images/facebook.svg" alt="">
                  </figure>
                  <p class="testimonial-card-content fab-mt-10 text-white">
                    My fashion wardrobe has never
been this good, Thanks to fabrae stylists.
                  </p>
                </div>
                <img src="assets/images/testimonial-arrow.svg" alt="Testimonial Arrow" class="testimonial-arrow">
                <div class="testimonial-author">
                  <figure>
                    <img src="../../../assets/images/roshan.jpeg" alt="">
                  </figure>
                  <div class="testimonial-author-info fab-ml-20">
                    <p class="testimonial-author-name">
                      Roshan
                    </p>
                    <p class="testimonial-author-designation">
                      Customer
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="testimonial-group">
              <div class="testimonial-card-container" style="margin: auto;">
                <div class="testimonial-card">
                  <figure>
                    <img src="assets/images/facebook.svg" alt="">
                  </figure>
                  <p class="testimonial-card-content fab-mt-10 text-white">
                    The value that they offer for the
service is very good. I saved lots of time
scrolling all the sites. This is great to have
all in one place. I really love the service.
                  </p>
                </div>
                <img src="assets/images/testimonial-arrow.svg" alt="Testimonial Arrow" class="testimonial-arrow">
                <div class="testimonial-author">
                  <figure>
                    <img src="../../../assets/images/prabhu.jpeg" alt="">
                  </figure>
                  <div class="testimonial-author-info fab-ml-20">
                    <p class="testimonial-author-name">
                      Prabhu
                    </p>
                    <p class="testimonial-author-designation">
                      Customer
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="testimonial-group">
              <div class="testimonial-card-container" style="margin: auto;">
                <div class="testimonial-card">
                  <figure>
                    <img src="assets/images/facebook.svg" alt="">
                  </figure>
                  <p class="testimonial-card-content fab-mt-10 text-white">
                    This is one of the best service
available in fashion. I saved lots of time
and money by subscribing to the service.
                  </p>
                </div>
                <img src="assets/images/testimonial-arrow.svg" alt="Testimonial Arrow" class="testimonial-arrow">
                <div class="testimonial-author">
                  <figure>
                    <img src="../../../assets/images/shahid.jpeg" alt="">
                  </figure>
                  <div class="testimonial-author-info fab-ml-20">
                    <p class="testimonial-author-name">
                      Shahid
                    </p>
                    <p class="testimonial-author-designation">
                      Fashion Designer
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="testimonial-group">
              <div class="testimonial-card-container" style="margin: auto;">
                <div class="testimonial-card">
                  <figure>
                    <img src="assets/images/facebook.svg" alt="">
                  </figure>
                  <p class="testimonial-card-content fab-mt-10 text-white">
                    My fashion wardrobe has never
been this good, Thanks to fabrae stylists.
                  </p>
                </div>
                <img src="assets/images/testimonial-arrow.svg" alt="Testimonial Arrow" class="testimonial-arrow">
                <div class="testimonial-author">
                  <figure>
                    <img src="../../../assets/images/roshan.jpeg" alt="">
                  </figure>
                  <div class="testimonial-author-info fab-ml-20">
                    <p class="testimonial-author-name">
                      Roshan
                    </p>
                    <p class="testimonial-author-designation">
                      Customer
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="testimonial-group">
              <div class="testimonial-card-container" style="margin: auto;">
                <div class="testimonial-card">
                  <figure>
                    <img src="assets/images/facebook.svg" alt="">
                  </figure>
                  <p class="testimonial-card-content fab-mt-10 text-white">
                    The value that they offer for the
service is very good. I saved lots of time
scrolling all the sites. This is great to have
all in one place. I really love the service.
                  </p>
                </div>
                <img src="assets/images/testimonial-arrow.svg" alt="Testimonial Arrow" class="testimonial-arrow">
                <div class="testimonial-author">
                  <figure>
                    <img src="../../../assets/images/prabhu.jpeg" alt="">
                  </figure>
                  <div class="testimonial-author-info fab-ml-20">
                    <p class="testimonial-author-name">
                      Prabhu
                    </p>
                    <p class="testimonial-author-designation">
                      Customer
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-indicators fab-mt-20">
          <button type="button" data-bs-target="#testimonial-carousel-indicators-sm" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#testimonial-carousel-indicators-sm" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#testimonial-carousel-indicators-sm" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#testimonial-carousel-indicators-sm" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#testimonial-carousel-indicators-sm" data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#testimonial-carousel-indicators-sm" data-bs-slide-to="5" aria-label="Slide 6"></button>
        </div>
      </div>
    </div>
  </div>
</div>
