.image-holder{
    margin-top: 120px;
    text-align: center;
    color: #276970;
}

.image-holder p {
    margin-top: 15px;
}

.primary-btn {
    background: linear-gradient(92.32deg, #0F5860 4.11%, #15B793 80.06%);
    width: 200px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 15px;
    color: white;
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .container{
      display: flex;
      justify-content: center;
      margin-top: 15px;
  }
