<app-secondary-navbar></app-secondary-navbar>

<main class="fab-mb-50">
  <section class="war-select">
    <div class="war-select-wrapper container">
      <div class="img-wrap" (click)="men()">
        <img src="assets/images/av (1).svg" alt="" class="avatar">
        <p class="fab-heading fab-mt-20" style="text-align: center;">Men</p>
      </div>
      <div class="img-wrap" (click)="kids()">
        <img src="assets/images/av (2).svg" alt="" class="avatar">
        <p class="fab-heading fab-mt-20" style="text-align: center;">Kids</p>
      </div>
      <div class="img-wrap fab-mb-30" (click)="women()">
        <img src="assets/images/av (4).svg" alt="" class="avatar">
        <p class="fab-heading fab-mt-20" style="text-align: center;">Women</p>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>
