.fab-pp-content {
  font-size: 18px;
  line-height: 1.3;
}

.pp-container {
  padding-left: 30px;
  padding-right: 30px;
}

strong {
  font-weight: bold;
}

.fab-link {
  border-bottom: 1px solid #15B793;
  &:hover {
    color: #0F5860;
  }
}

.pp-heading {
  font-size: 22px;
}

.fab-heading {
  font-size: 25px;
}
