<app-secondary-navbar></app-secondary-navbar>

<main>
  <section class="wardrobe-product-detail fab-mt-50 fab-mb-50">
    <div class="row">
      <div class="col-md-5 prod-det-img-cont">
        <img [src]="productData.photoLink" alt="" class="prod-det-img">
        <!-- <p>hi</p> -->
      </div>
      <div class="col-md-7 prod-det-content">
        <div class="details">
          <h1 class="prd-brand">
            {{productData.brand}}
          </h1>
          <p class="prd-name fab-mt-50">
            {{productData.productName}}
          </p>
          <p class="prd-desc fab-mt-20">
            {{productData?.description}}
          </p>
          <div class="prd-det fab-mt-30">
            <p>Size : <span class="prc">{{productData.size}}</span></p>
            <p>Price : <span class="prc">&#x20B9;{{productData.price}} </span><span class="prc" style="text-decoration: line-through;color: grey;"> &#x20B9;{{productData.discountPrice}}</span></p>
          </div>
          <div class="row">
            <button class="buy-now fab-mt-60" *ngIf=!isOwnProduct><a href="{{productData.productLink}}" target="blank">Buy Now</a></button>
            <button class="buy-now fab-mt-60" *ngIf=isOwnProduct (click)="goToBuy()">Buy Now</button>
            <button *ngIf=isOwnProduct class="buy-now add-to-cart fab-mt-60" (click)="addToCart();">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>
