<main class="signup-container">
  <div class="row">
    <div class="col-md-7 logo-container">
      <img src="assets/images/fabrae-logo.svg" alt="" class="signup-logo">
    </div>
    <div class="col-md-5 form-container">
      <form class="signup-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <img src="assets/images/fabrae-logo.svg" alt="" class="signup-logo-inner">
        <h2 class="signup-title">Sign Up</h2>
        <div class="fab-form-group fab-mt-20">
          <input type="text" placeholder="Username" class="inputfield" formControlName="userName">
          <div class="error-msg" *ngIf="fab.userName.invalid && (fab.userName.dirty || fab.userName.touched)">
            <div *ngIf="fab.userName.errors?.required">
              User Name is required.
            </div>
          </div>
        </div>
        <div class="fab-form-group" style="margin-top: 5px;">
          <input type="email" placeholder="Email" class="inputfield" formControlName="email">
          <div class="error-msg" *ngIf="fab.email.invalid && (fab.email.dirty || fab.email.touched)">
            <div *ngIf="fab.email.errors?.required">
              Email is required.
            </div>
            <div *ngIf="fab.email.errors?.email">
              Email Should be Valid.
            </div>
          </div>
        </div>
        <div class="fab-form-group" style="margin-top: 5px;">
          <input type="text" placeholder="Mobile Number" class="inputfield" formControlName="phoneno">
          <div class="error-msg" *ngIf="fab.phoneno.invalid && (fab.phoneno.dirty || fab.phoneno.touched)">
            <div *ngIf="fab.phoneno.errors?.required">
              Mobile Number is required.
            </div>
            <div *ngIf="fab.phoneno.errors?.minlength">
              Mobile Number should be Valid.
            </div>
          </div>
        </div>
        <div class="fab-form-group" style="margin-top: 5px;">
          <input type="password" placeholder="Password" class="inputfield" formControlName="password">
          <div class="error-msg" *ngIf="fab.password.invalid && (fab.password.dirty || fab.password.touched)">
            <div *ngIf="fab.password.errors?.required">
              Password is required.
            </div>
            <div *ngIf="fab.password.errors?.minlength">
              Password should be at least<br>6 characters long.
            </div>
            <div *ngIf="!fab.password.errors?.required && !fab.password.errors?.minlength && fab.password.errors?.pattern">
              Atleast 1 Uppercase,lowercase,<br>number and Special character.
            </div>
          </div>
        </div>
        <div class="fab-form-group" style="margin-top: 5px;">
          <input type="password" placeholder="Confirm Password" class="inputfield" formControlName="confirmPassword">
          <div class="error-msg" *ngIf="fab.confirmPassword.invalid && (fab.confirmPassword.dirty || fab.confirmPassword.touched)">
            <div *ngIf="fab.confirmPassword.errors?.required">
              Confirm Password is required.
            </div>
            <div *ngIf="!fab.confirmPassword.errors?.required && fab.confirmPassword.errors?.nonSimilar">
              Confirm Password should match <br>Password.
            </div>
          </div>
        </div>


        <div class="fab-form-group fab-mt-20" style="margin-top: 5px;">
          <input type="text" placeholder="Door No" class="inputfield" formControlName="doorNo">
          <div class="error-msg" *ngIf="fab.userName.invalid && (fab.doorNo.dirty || fab.doorNo.touched)">
            <div *ngIf="fab.doorNo.errors?.required">
              Door No is required.
            </div>
          </div>
        </div>

        <div class="fab-form-group fab-mt-20" style="margin-top: 5px;">
          <input type="text" placeholder="Street Name" class="inputfield" formControlName="streetName">
          <div class="error-msg" *ngIf="fab.streetName.invalid && (fab.streetName.dirty || fab.streetName.touched)">
            <div *ngIf="fab.streetName.errors?.required">
              Street Name is required.
            </div>
          </div>
        </div>

        <div class="fab-form-group fab-mt-20" style="margin-top: 5px;">
          <input type="text" placeholder="City" class="inputfield" formControlName="city">
          <div class="error-msg" *ngIf="fab.city.invalid && (fab.city.dirty || fab.city.touched)">
            <div *ngIf="fab.city.errors?.required">
              City is required.
            </div>
          </div>
        </div>

        <div class="fab-form-group fab-mt-20" style="margin-top: 5px;">
          <input type="text" placeholder="State" class="inputfield" formControlName="state">
          <div class="error-msg" *ngIf="fab.state.invalid && (fab.state.dirty || fab.state.touched)">
            <div *ngIf="fab.state.errors?.required">
              State is required.
            </div>
          </div>
        </div>

        <div class="fab-form-group fab-mt-20" style="margin-top: 5px;">
          <input type="text" placeholder="Pincode" class="inputfield" formControlName="pincode">
          <div class="error-msg" *ngIf="fab.pincode.invalid && (fab.pincode.dirty || fab.pincode.touched)">
            <div *ngIf="fab.pincode.errors?.required">
              Pincode is required.
            </div>
            <div *ngIf="fab.pincode.errors?.pattern">
              Enter Valid pincode.
            </div>
          </div>
        </div>

        <div class="fab-form-group fab-mt-20" style="margin-top: 5px;">
          <select class="inputfield" formControlName="gender">
            <option value="" disabled>Select Gender</option>
            <option Value='Male'>Male</option>
            <option Value="Female">Female</option>
          </select>
          <div class="error-msg" *ngIf="fab.gender.invalid && (fab.gender.dirty || fab.gender.touched)">
            <div *ngIf="fab.gender.errors?.required">
              Gender is required.
            </div>
          </div>
        </div>

        <div class="fab-form-group fab-mt-20" style="margin-top: 5px;">
          <input type="date" placeholder="Pincode" class="inputfield" formControlName="dob">
          <div class="error-msg" *ngIf="fab.dob.invalid && (fab.dob.dirty || fab.dob.touched)">
            <div *ngIf="fab.dob.errors?.required">
              DOB is required.
            </div>
          </div>
        </div>

        <input type="submit" name="singup" value="Sign Up" class="fab-signup-btn fab-mt-30" [disabled]="!signupForm.valid">

        <p class="fab-mt-20">Already a user? <a routerLink="/login" class="sign-up">Login</a></p>
      </form>
    </div>
  </div>
</main>
