.container{
    margin-top: 90px;
    // align-content: center;
}
.row{
    display: flex;
    justify-content: space-between;

}
.card{
    // border: solid 1px black;
    width: 300px;
    height: 150px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.col-md-4{
    // border: solid 1px green;
}
.card-title{
    font-size: 1.5rem;
    font-weight: 300;
    padding-top: 25px;
}
.card-content{
    font-size: 2rem;
    font-weight: 400;
}