<app-secondary-navbar></app-secondary-navbar>

<section class="main-content">
  <div class="row">
    <div class="col-md-9 cart-content-container">
      <h2 class="cart-heading" style="padding-left: 10px;padding-bottom: 20px;">
        Your Cart (3)
      </h2>

      <!-- content -->
      <div style="border-bottom: 1px solid grey; padding-bottom: 20px;" *ngFor="let products of data">
        <div class="card-cont" style="margin-top: 20px;">
          <div class="cart-prd-img-container">
            <img [src]="products.photoLink" [alt]="products.productName" class="cart-prd-img" ImgFallback>
          </div>
          <div style="width: 100%;" class="cart-prd-des-lg" >
            <p style="font-size: 18px; font-weight: bold;">
              {{ products.brand }}
            </p>
            <p style="font-size: 14px; color: grey; margin-top: 5px;">
              {{ products.productName }}
            </p>
            <p style="margin-top: 10px;">
              Size : <span style="font-weight: bold;">{{ products.size }}</span>
            </p>
          </div>
          <div style="width: 300px;" class="prd-quantity-container">
            <div class="prd-quantity" style="margin-top:3px;">
              <span>Quantity : {{ prdQuantity }}</span>
            </div>
          </div>
          <div style="width: 100px;">
            <p class="cart-prd-price" style="padding-top: 3px;">
              &#8377;{{ products.price }}
            </p>
          </div>
          <div style="width: 50px;">
            <i class="fas fa-trash" style="font-size: 20px; color: #EE4B2B; margin-left: 20px;" (click)="removeProduct(prdQuantity)"></i>
          </div>
        </div>
        <div style="width: 100%;" class="cart-prd-des" >
          <p style="font-size: 18px; font-weight: bold;">
            {{ products.brand }}
          </p>
          <p style="font-size: 14px; color: grey; margin-top: 5px;">
            {{ products.productName }}
          </p>
          <p style="margin-top: 10px;">
            Size : <span style="font-weight: bold;">{{ products.size }}</span>
          </p>
          <div class="prd-quantity" style="margin-top:10px;">
            <span>Quantity : {{ prdQuantity }}</span>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-3 cart-total-card-container" style="padding-top: 30px;">
      <div class="cart-total-card">
        <h3 style="margin-top: 10px;" class="text-center">Cart Summary</h3>
        <table style="width: 100%;margin-top: 20px; text-align: center;">
          <tbody>
            <tr>
              <td style="padding-top: 5px;padding-left:15px;width: 50%;">
                Subtotal
              </td>
              <td>
                ₹ {{subTotal}}
              </td>
            </tr>
            <tr>
              <td style="padding-top: 15px;padding-bottom: 30px;padding-left:15px;">
                Shipping
              </td>
              <td>
                ₹ 50
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <hr style="width: 150px; margin:auto">
              </td>
            </tr>
            <tr>
              <td style="padding-bottom: 5px;font-weight: bold;padding-left: 15px;width: 50%;padding-top: 15px;">
                Total
              </td>
              <td style="font-weight: bold;">
                ₹ {{total}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <button class="place-order-btn">
          Proceed to Buy
        </button>
      </div>
    </div>
  </div>
</section>
