<app-navbar></app-navbar>

<main>
  <section class="hero-wrapper">
    <div class="hero-content text-center">
      <figure class="hero-design">
        <img src="assets/images/fabrae-white-logo.png" alt="Hero Design Logo">
      </figure>
      <h1 class="fab-title fab-mt-30 text-white">Style Reimagined.</h1>
      <p class="fab-content fab-mt-20 text-white">
        Choose your outfit Wise with Us.
      </p>
      <a class="fab-btn fab-btn-gradientfilled fab-mt-50 fab-mb-10" (click)="takeToQuiz()">Take Quiz</a>
    </div>
  </section>

  <section class="service">
    <div class="row service-wrapper text-center fab-pb-50">
      <div class="col-md-5 fab-carousel-services">
        <img src="assets/images/gt.gif" alt="">
      </div>
      <div class="col-md-7 service-content">
        <h2 class="fab-heading">
          Who are We?
        </h2>
        <p class="fab-content fab-mt-30">
          We are an online personal styling service in India.<br>
          We uses Stylists to personalize your Clothing selection
          based on size, budget, style and Brands.
        </p>
      </div>
    </div>

    <div class="availability text-center fab-plr-20 fab-pt-50 fab-pb-50" id="services">
      <h2 class="fab-heading">
        We are Available for All
      </h2>
      <p class="fab-content fab-mt-30">
        You can get all fits, all sizes and all brands from us.
      </p>
      <div class="container fab-mt-80 availability-carousel-wrapper">
        <ul class="availability-carousel">
          <li class="fab-card">
            <div class="card-front">
              <img src="assets/images/rect1.png" alt="rect 1">
            </div>
            <div class="card-back">
              <p class="fab-card-text">Women</p>
              <p class="fab-card-content fab-mt-10">S | M | L</p>
            </div>
          </li>
          <li class="fab-card">
            <div class="card-front">
              <img src="assets/images/kids.jpg" alt="kids">
            </div>
            <div class="card-back">
              <p class="fab-card-text">Kids</p>
            </div>
          </li>
          <li class="fab-card">
            <div class="card-front">
              <img src="assets/images/rect3.png" alt="rect 1">
            </div>
            <div class="card-back">
              <p class="fab-card-text">Men</p>
              <p class="fab-card-content fab-mt-10">S | M | L</p>
            </div>
          </li>
          <li class="fab-card">
            <div class="card-front">
              <img src="assets/images/rect4.png" alt="rect 1">
            </div>
            <div class="card-back">
              <p class="fab-card-text">Men</p>
              <p class="fab-card-content fab-mt-10">S | M | L</p>
            </div>
          </li>
          <li class="fab-card">
            <div class="card-front">
              <img src="assets/images/rect5.png" alt="rect 1">
            </div>
            <div class="card-back">
              <p class="fab-card-text">Men</p>
              <p class="fab-card-content fab-mt-10">S | M | L</p>
            </div>
          </li>
          <li class="fab-card">
            <div class="card-front">
              <img src="assets/images/rect6.png" alt="rect 1">
            </div>
            <div class="card-back">
              <p class="fab-card-text">Men</p>
              <p class="fab-card-content fab-mt-10">S | M | L</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>



  <div class="wardrobe fab-pt-100" id="wardrobe">
    <div class="container-fluid wardrobe-content fab-plr-20 text-center">
      <h2 class="fab-title">
        Get Your Style Picked<br>
        by Specialists!
      </h2>
      <p class="fab-content fab-mt-30">
        See your Wardrobe filled with love made especially for you.
      </p>
      <a href="" class="fab-btn fab-btn-gradientfilled fab-mt-50 fab-mb-10">See Wardrobe</a>
    </div>
    <img src="assets/images/wave-one.svg" alt="Wave 1 Design" class="wave">
  </div>

  <div class="testimonial fab-pb-50">
    <img src="assets/images/wave-two.svg" alt="Wave 2 Design" class="wave">
    <div class="testimonial-content fab-pt-100 text-center" id="testimonials">
      <h2 class="fab-heading">
        The Words of our Customers!
      </h2>
      <div class="container testimonial-carousel fab-mt-70">
        <!-- For Large Devices -->
        <div id="testimonial-carousel-indicators-lg" class="carousel carousel-dark slide bp-lg" data-bs-ride="carousel" data-bs-interval="3000">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="testimonial-group">
                <div class="testimonial-card-container">
                  <div class="testimonial-card">
                    <figure>
                      <img src="assets/images/Twitter.svg" alt="">
                    </figure>
                    <p class="testimonial-card-content fab-mt-10 text-white">
                      Lorem Ipsum is a place holder text commonly used in the graphic, print, publishing industries for previewing layouts and visual mockups.
                    </p>
                  </div>
                  <img src="assets/images/testimonial-arrow.svg" alt="Testimonial Arrow" class="testimonial-arrow">
                  <div class="testimonial-author">
                    <figure>
                      <img src="https://lh3.googleusercontent.com/ogw/ADea4I6eIODF0RFIQnRvmaIgVe9FurOaV1uQyHhse8ZOSw=s64-c-mo" alt="">
                    </figure>
                    <div class="testimonial-author-info fab-ml-20">
                      <p class="testimonial-author-name">
                        Gowthaman Thirunavukkarasu 1
                      </p>
                      <p class="testimonial-author-designation">
                        Web Developer
                      </p>
                    </div>
                  </div>
                </div>
                <div class="testimonial-card-container">
                  <div class="testimonial-card">
                    <figure>
                      <img src="assets/images/Twitter.svg" alt="">
                    </figure>
                    <p class="testimonial-card-content fab-mt-10 text-white">
                      Lorem Ipsum is a place holder text commonly used in the graphic, print, publishing industries for previewing layouts and visual mockups.
                    </p>
                  </div>
                  <img src="assets/images/testimonial-arrow.svg" alt="Testimonial Arrow" class="testimonial-arrow">
                  <div class="testimonial-author">
                    <figure>
                      <img src="https://lh3.googleusercontent.com/ogw/ADea4I6eIODF0RFIQnRvmaIgVe9FurOaV1uQyHhse8ZOSw=s64-c-mo" alt="">
                    </figure>
                    <div class="testimonial-author-info fab-ml-20">
                      <p class="testimonial-author-name">
                        Gowthaman Thirunavukkarasu
                      </p>
                      <p class="testimonial-author-designation">
                        Web Developer
                      </p>
                    </div>
                  </div>
                </div>
                <div class="testimonial-card-container">
                  <div class="testimonial-card">
                    <figure>
                      <img src="assets/images/Twitter.svg" alt="">
                    </figure>
                    <p class="testimonial-card-content fab-mt-10 text-white">
                      Lorem Ipsum is a place holder text commonly used in the graphic, print, publishing industries for previewing layouts and visual mockups.
                    </p>
                  </div>
                  <img src="assets/images/testimonial-arrow.svg" alt="Testimonial Arrow" class="testimonial-arrow">
                  <div class="testimonial-author">
                    <figure>
                      <img src="https://lh3.googleusercontent.com/ogw/ADea4I6eIODF0RFIQnRvmaIgVe9FurOaV1uQyHhse8ZOSw=s64-c-mo" alt="">
                    </figure>
                    <div class="testimonial-author-info fab-ml-20">
                      <p class="testimonial-author-name">
                        Gowthaman Thirunavukkarasu
                      </p>
                      <p class="testimonial-author-designation">
                        Web Developer
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="testimonial-group">
                <div class="testimonial-card-container">
                  <div class="testimonial-card">
                    <figure>
                      <img src="assets/images/Twitter.svg" alt="">
                    </figure>
                    <p class="testimonial-card-content fab-mt-10 text-white">
                      Lorem Ipsum is a place holder text commonly used in the graphic, print, publishing industries for previewing layouts and visual mockups.
                    </p>
                  </div>
                  <img src="assets/images/testimonial-arrow.svg" alt="Testimonial Arrow" class="testimonial-arrow">
                  <div class="testimonial-author">
                    <figure>
                      <img src="https://lh3.googleusercontent.com/ogw/ADea4I6eIODF0RFIQnRvmaIgVe9FurOaV1uQyHhse8ZOSw=s64-c-mo" alt="">
                    </figure>
                    <div class="testimonial-author-info fab-ml-20">
                      <p class="testimonial-author-name">
                        Gowthaman Thirunavukkarasu 2
                      </p>
                      <p class="testimonial-author-designation">
                        Web Developer
                      </p>
                    </div>
                  </div>
                </div>
                <div class="testimonial-card-container">
                  <div class="testimonial-card">
                    <figure>
                      <img src="assets/images/Twitter.svg" alt="">
                    </figure>
                    <p class="testimonial-card-content fab-mt-10 text-white">
                      Lorem Ipsum is a place holder text commonly used in the graphic, print, publishing industries for previewing layouts and visual mockups.
                    </p>
                  </div>
                  <img src="assets/images/testimonial-arrow.svg" alt="Testimonial Arrow" class="testimonial-arrow">
                  <div class="testimonial-author">
                    <figure>
                      <img src="https://lh3.googleusercontent.com/ogw/ADea4I6eIODF0RFIQnRvmaIgVe9FurOaV1uQyHhse8ZOSw=s64-c-mo" alt="">
                    </figure>
                    <div class="testimonial-author-info fab-ml-20">
                      <p class="testimonial-author-name">
                        Gowthaman Thirunavukkarasu
                      </p>
                      <p class="testimonial-author-designation">
                        Web Developer
                      </p>
                    </div>
                  </div>
                </div>
                <div class="testimonial-card-container">
                  <div class="testimonial-card">
                    <figure>
                      <img src="assets/images/Twitter.svg" alt="">
                    </figure>
                    <p class="testimonial-card-content fab-mt-10 text-white">
                      Lorem Ipsum is a place holder text commonly used in the graphic, print, publishing industries for previewing layouts and visual mockups.
                    </p>
                  </div>
                  <img src="assets/images/testimonial-arrow.svg" alt="Testimonial Arrow" class="testimonial-arrow">
                  <div class="testimonial-author">
                    <figure>
                      <img src="https://lh3.googleusercontent.com/ogw/ADea4I6eIODF0RFIQnRvmaIgVe9FurOaV1uQyHhse8ZOSw=s64-c-mo" alt="">
                    </figure>
                    <div class="testimonial-author-info fab-ml-20">
                      <p class="testimonial-author-name">
                        Gowthaman Thirunavukkarasu
                      </p>
                      <p class="testimonial-author-designation">
                        Web Developer
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-indicators fab-mt-20">
            <button type="button" data-bs-target="#testimonial-carousel-indicators-lg" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide group 1"></button>
            <button type="button" data-bs-target="#testimonial-carousel-indicators-lg" data-bs-slide-to="1" aria-label="Slide group 2"></button>
          </div>
        </div>

        <!-- For Medium Devices -->
        <div id="testimonial-carousel-indicators-md" class="carousel carousel-dark slide bp-md" data-bs-ride="carousel" data-bs-interval="3000">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="testimonial-group">
                <div class="testimonial-card-container">
                  <div class="testimonial-card">
                    <figure>
                      <img src="assets/images/Twitter.svg" alt="">
                    </figure>
                    <p class="testimonial-card-content fab-mt-10 text-white">
                      Lorem Ipsum is a place holder text commonly used in the graphic, print, publishing industries for previewing layouts and visual mockups.
                    </p>
                  </div>
                  <img src="assets/images/testimonial-arrow.svg" alt="Testimonial Arrow" class="testimonial-arrow">
                  <div class="testimonial-author">
                    <figure>
                      <img src="https://lh3.googleusercontent.com/ogw/ADea4I6eIODF0RFIQnRvmaIgVe9FurOaV1uQyHhse8ZOSw=s64-c-mo" alt="">
                    </figure>
                    <div class="testimonial-author-info fab-ml-20">
                      <p class="testimonial-author-name">
                        Gowthaman Thirunavukkarasu 1
                      </p>
                      <p class="testimonial-author-designation">
                        Web Developer
                      </p>
                    </div>
                  </div>
                </div>
                <div class="testimonial-card-container">
                  <div class="testimonial-card">
                    <figure>
                      <img src="assets/images/Twitter.svg" alt="">
                    </figure>
                    <p class="testimonial-card-content fab-mt-10 text-white">
                      Lorem Ipsum is a place holder text commonly used in the graphic, print, publishing industries for previewing layouts and visual mockups.
                    </p>
                  </div>
                  <img src="assets/images/testimonial-arrow.svg" alt="Testimonial Arrow" class="testimonial-arrow">
                  <div class="testimonial-author">
                    <figure>
                      <img src="https://lh3.googleusercontent.com/ogw/ADea4I6eIODF0RFIQnRvmaIgVe9FurOaV1uQyHhse8ZOSw=s64-c-mo" alt="">
                    </figure>
                    <div class="testimonial-author-info fab-ml-20">
                      <p class="testimonial-author-name">
                        Gowthaman Thirunavukkarasu
                      </p>
                      <p class="testimonial-author-designation">
                        Web Developer
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="testimonial-group">
                <div class="testimonial-card-container">
                  <div class="testimonial-card">
                    <figure>
                      <img src="assets/images/Twitter.svg" alt="">
                    </figure>
                    <p class="testimonial-card-content fab-mt-10 text-white">
                      Lorem Ipsum is a place holder text commonly used in the graphic, print, publishing industries for previewing layouts and visual mockups.
                    </p>
                  </div>
                  <img src="assets/images/testimonial-arrow.svg" alt="Testimonial Arrow" class="testimonial-arrow">
                  <div class="testimonial-author">
                    <figure>
                      <img src="https://lh3.googleusercontent.com/ogw/ADea4I6eIODF0RFIQnRvmaIgVe9FurOaV1uQyHhse8ZOSw=s64-c-mo" alt="">
                    </figure>
                    <div class="testimonial-author-info fab-ml-20">
                      <p class="testimonial-author-name">
                        Gowthaman Thirunavukkarasu 2
                      </p>
                      <p class="testimonial-author-designation">
                        Web Developer
                      </p>
                    </div>
                  </div>
                </div>
                <div class="testimonial-card-container">
                  <div class="testimonial-card">
                    <figure>
                      <img src="assets/images/Twitter.svg" alt="">
                    </figure>
                    <p class="testimonial-card-content fab-mt-10 text-white">
                      Lorem Ipsum is a place holder text commonly used in the graphic, print, publishing industries for previewing layouts and visual mockups.
                    </p>
                  </div>
                  <img src="assets/images/testimonial-arrow.svg" alt="Testimonial Arrow" class="testimonial-arrow">
                  <div class="testimonial-author">
                    <figure>
                      <img src="https://lh3.googleusercontent.com/ogw/ADea4I6eIODF0RFIQnRvmaIgVe9FurOaV1uQyHhse8ZOSw=s64-c-mo" alt="">
                    </figure>
                    <div class="testimonial-author-info fab-ml-20">
                      <p class="testimonial-author-name">
                        Gowthaman Thirunavukkarasu
                      </p>
                      <p class="testimonial-author-designation">
                        Web Developer
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="testimonial-group">
                <div class="testimonial-card-container">
                  <div class="testimonial-card">
                    <figure>
                      <img src="assets/images/Twitter.svg" alt="">
                    </figure>
                    <p class="testimonial-card-content fab-mt-10 text-white">
                      Lorem Ipsum is a place holder text commonly used in the graphic, print, publishing industries for previewing layouts and visual mockups.
                    </p>
                  </div>
                  <img src="assets/images/testimonial-arrow.svg" alt="Testimonial Arrow" class="testimonial-arrow">
                  <div class="testimonial-author">
                    <figure>
                      <img src="https://lh3.googleusercontent.com/ogw/ADea4I6eIODF0RFIQnRvmaIgVe9FurOaV1uQyHhse8ZOSw=s64-c-mo" alt="">
                    </figure>
                    <div class="testimonial-author-info fab-ml-20">
                      <p class="testimonial-author-name">
                        Gowthaman Thirunavukkarasu 3
                      </p>
                      <p class="testimonial-author-designation">
                        Web Developer
                      </p>
                    </div>
                  </div>
                </div>
                <div class="testimonial-card-container">
                  <div class="testimonial-card">
                    <figure>
                      <img src="assets/images/Twitter.svg" alt="">
                    </figure>
                    <p class="testimonial-card-content fab-mt-10 text-white">
                      Lorem Ipsum is a place holder text commonly used in the graphic, print, publishing industries for previewing layouts and visual mockups.
                    </p>
                  </div>
                  <img src="assets/images/testimonial-arrow.svg" alt="Testimonial Arrow" class="testimonial-arrow">
                  <div class="testimonial-author">
                    <figure>
                      <img src="https://lh3.googleusercontent.com/ogw/ADea4I6eIODF0RFIQnRvmaIgVe9FurOaV1uQyHhse8ZOSw=s64-c-mo" alt="">
                    </figure>
                    <div class="testimonial-author-info fab-ml-20">
                      <p class="testimonial-author-name">
                        Gowthaman Thirunavukkarasu
                      </p>
                      <p class="testimonial-author-designation">
                        Web Developer
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-indicators fab-mt-20">
            <button type="button" data-bs-target="#testimonial-carousel-indicators-md" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide group 1"></button>
            <button type="button" data-bs-target="#testimonial-carousel-indicators-md" data-bs-slide-to="1" aria-label="Slide group 2"></button>
            <button type="button" data-bs-target="#testimonial-carousel-indicators-md" data-bs-slide-to="2" aria-label="Slide group 3"></button>
          </div>
        </div>

        <!-- For Small Devices -->
        <div id="testimonial-carousel-indicators-sm" class="carousel carousel-dark slide bp-sm" data-bs-ride="carousel" data-bs-interval="3000">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="testimonial-card-container" style="margin: auto;">
                <div class="testimonial-card">
                  <figure>
                    <img src="assets/images/Twitter.svg" alt="">
                  </figure>
                  <p class="testimonial-card-content fab-mt-10 text-white">
                    Lorem Ipsum is a place holder text commonly used in the graphic, print, publishing industries for previewing layouts and visual mockups.
                  </p>
                </div>
                <img src="assets/images/testimonial-arrow.svg" alt="Testimonial Arrow" class="testimonial-arrow">
                <div class="testimonial-author">
                  <figure>
                    <img src="https://lh3.googleusercontent.com/ogw/ADea4I6eIODF0RFIQnRvmaIgVe9FurOaV1uQyHhse8ZOSw=s64-c-mo" alt="">
                  </figure>
                  <div class="testimonial-author-info fab-ml-20">
                    <p class="testimonial-author-name">
                      Gowthaman Thirunavukkarasu 1
                    </p>
                    <p class="testimonial-author-designation">
                      Web Developer
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="testimonial-group">
                <div class="testimonial-card-container" style="margin: auto;">
                  <div class="testimonial-card">
                    <figure>
                      <img src="assets/images/Twitter.svg" alt="">
                    </figure>
                    <p class="testimonial-card-content fab-mt-10 text-white">
                      Lorem Ipsum is a place holder text commonly used in the graphic, print, publishing industries for previewing layouts and visual mockups.
                    </p>
                  </div>
                  <img src="assets/images/testimonial-arrow.svg" alt="Testimonial Arrow" class="testimonial-arrow">
                  <div class="testimonial-author">
                    <figure>
                      <img src="https://lh3.googleusercontent.com/ogw/ADea4I6eIODF0RFIQnRvmaIgVe9FurOaV1uQyHhse8ZOSw=s64-c-mo" alt="">
                    </figure>
                    <div class="testimonial-author-info fab-ml-20">
                      <p class="testimonial-author-name">
                        Gowthaman Thirunavukkarasu 2
                      </p>
                      <p class="testimonial-author-designation">
                        Web Developer
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="testimonial-group">
                <div class="testimonial-card-container" style="margin: auto;">
                  <div class="testimonial-card">
                    <figure>
                      <img src="assets/images/Twitter.svg" alt="">
                    </figure>
                    <p class="testimonial-card-content fab-mt-10 text-white">
                      Lorem Ipsum is a place holder text commonly used in the graphic, print, publishing industries for previewing layouts and visual mockups.
                    </p>
                  </div>
                  <img src="assets/images/testimonial-arrow.svg" alt="Testimonial Arrow" class="testimonial-arrow">
                  <div class="testimonial-author">
                    <figure>
                      <img src="https://lh3.googleusercontent.com/ogw/ADea4I6eIODF0RFIQnRvmaIgVe9FurOaV1uQyHhse8ZOSw=s64-c-mo" alt="">
                    </figure>
                    <div class="testimonial-author-info fab-ml-20">
                      <p class="testimonial-author-name">
                        Gowthaman Thirunavukkarasu 3
                      </p>
                      <p class="testimonial-author-designation">
                        Web Developer
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="testimonial-group">
                <div class="testimonial-card-container" style="margin: auto;">
                  <div class="testimonial-card">
                    <figure>
                      <img src="assets/images/Twitter.svg" alt="">
                    </figure>
                    <p class="testimonial-card-content fab-mt-10 text-white">
                      Lorem Ipsum is a place holder text commonly used in the graphic, print, publishing industries for previewing layouts and visual mockups.
                    </p>
                  </div>
                  <img src="assets/images/testimonial-arrow.svg" alt="Testimonial Arrow" class="testimonial-arrow">
                  <div class="testimonial-author">
                    <figure>
                      <img src="https://lh3.googleusercontent.com/ogw/ADea4I6eIODF0RFIQnRvmaIgVe9FurOaV1uQyHhse8ZOSw=s64-c-mo" alt="">
                    </figure>
                    <div class="testimonial-author-info fab-ml-20">
                      <p class="testimonial-author-name">
                        Gowthaman Thirunavukkarasu 4
                      </p>
                      <p class="testimonial-author-designation">
                        Web Developer
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="testimonial-group">
                <div class="testimonial-card-container" style="margin: auto;">
                  <div class="testimonial-card">
                    <figure>
                      <img src="assets/images/Twitter.svg" alt="">
                    </figure>
                    <p class="testimonial-card-content fab-mt-10 text-white">
                      Lorem Ipsum is a place holder text commonly used in the graphic, print, publishing industries for previewing layouts and visual mockups.
                    </p>
                  </div>
                  <img src="assets/images/testimonial-arrow.svg" alt="Testimonial Arrow" class="testimonial-arrow">
                  <div class="testimonial-author">
                    <figure>
                      <img src="https://lh3.googleusercontent.com/ogw/ADea4I6eIODF0RFIQnRvmaIgVe9FurOaV1uQyHhse8ZOSw=s64-c-mo" alt="">
                    </figure>
                    <div class="testimonial-author-info fab-ml-20">
                      <p class="testimonial-author-name">
                        Gowthaman Thirunavukkarasu 5
                      </p>
                      <p class="testimonial-author-designation">
                        Web Developer
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="testimonial-group">
                <div class="testimonial-card-container" style="margin: auto;">
                  <div class="testimonial-card">
                    <figure>
                      <img src="assets/images/Twitter.svg" alt="">
                    </figure>
                    <p class="testimonial-card-content fab-mt-10 text-white">
                      Lorem Ipsum is a place holder text commonly used in the graphic, print, publishing industries for previewing layouts and visual mockups.
                    </p>
                  </div>
                  <img src="assets/images/testimonial-arrow.svg" alt="Testimonial Arrow" class="testimonial-arrow">
                  <div class="testimonial-author">
                    <figure>
                      <img src="https://lh3.googleusercontent.com/ogw/ADea4I6eIODF0RFIQnRvmaIgVe9FurOaV1uQyHhse8ZOSw=s64-c-mo" alt="">
                    </figure>
                    <div class="testimonial-author-info fab-ml-20">
                      <p class="testimonial-author-name">
                        Gowthaman Thirunavukkarasu 6
                      </p>
                      <p class="testimonial-author-designation">
                        Web Developer
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-indicators fab-mt-20">
            <button type="button" data-bs-target="#testimonial-carousel-indicators-sm" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#testimonial-carousel-indicators-sm" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#testimonial-carousel-indicators-sm" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#testimonial-carousel-indicators-sm" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#testimonial-carousel-indicators-sm" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#testimonial-carousel-indicators-sm" data-bs-slide-to="5" aria-label="Slide 6"></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="faqs" class="fab-pt-50">
    <h2 class="fab-heading text-center">Frequently Asked Questions</h2>

    <div class="container faq-content fab-mt-50 fab-pb-50">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button fab-accordian-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Question 1
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Question 1?</strong> <br><br>Lorem Ipsum is a place holder text commonly used in the graphic, print, publishing industries for previewing layouts and visual mockups. Lorem Ipsum is a place holder text commonly used in the graphic, print, publishing industries for previewing layouts and visual mockups.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button fab-accordian-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Question 2
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Question 2?</strong> <br><br>Lorem Ipsum is a place holder text commonly used in the graphic, print, publishing industries for previewing layouts and visual mockups. Lorem Ipsum is a place holder text commonly used in the graphic, print, publishing industries for previewing layouts and visual mockups.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button fab-accordian-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Question 3
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Question 3?</strong> <br><br>Lorem Ipsum is a place holder text commonly used in the graphic, print, publishing industries for previewing layouts and visual mockups. Lorem Ipsum is a place holder text commonly used in the graphic, print, publishing industries for previewing layouts and visual mockups.
            </div>
          </div>
        </div>
      </div>
    </div>
    <img src="assets/images/wave-three.svg" alt="Wave 3 Design" class="wave">
  </div>

  <div class="about-us fab-pt-100 fab-pb-100" id="aboutus">
    <div class="about-us-content text-center fab-plr-20">
      <h2 class="fab-heading">
        About Us
      </h2>
      <p class="fab-content">
        From 2019, We are serving clients with personal and curated clothing selection that
        they can wear on special occasions. And Spend time with your loved ones with more confident on
        how you look!
      </p>

      <div class="follow-us fab-mt-70">
        <p>
          Follow us
        </p>
        <div class="fab-social-media fab-mt-10">
          <a href="" class="fab-social-media-icon">
            <img src="assets/images/facebook.svg" alt="Facebook Logo">
          </a>
          <a href="" class="fab-social-media-icon">
            <img src="assets/images/instagram.svg" alt="Instagram Logo">
          </a>
          <a href="" class="fab-social-media-icon">
            <img src="assets/images/twitter-logo.svg" alt="Twitter Logo">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="brands-partnered fab-pt-100 fab-pb-200">
    <div class="brands-partnered-content text-center fab-plr-20">
      <h2 class="fab-heading">
        Brands We Partnered
      </h2>
      <div class="brand-logos container fab-mt-80">
        <figure class="">
          <img src="assets/images/polo.webp" alt="b1">
          <img src="assets/images/levis.webp" alt="b2">
          <img src="assets/images/roadster.webp" alt="b5">
          <img src="assets/images/gucci.webp" alt="b3">
          <img src="assets/images/tommy_hilfiger.webp" alt="b4">
          <img src="assets/images/reebok.webp" alt="b6">
          <img src="assets/images/adidas.webp" alt="b6">
          <img src="assets/images/diesel.webp" alt="b6">
        </figure>
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>
