<app-navbar></app-navbar>

<main>
  <section class="hero-wrapper">
    <div class="hero-content text-center">
      <figure class="hero-design">
        <img src="assets/images/fabrae-white-logo.png" alt="Hero Design Logo">
      </figure>
      <h1 class="fab-title fab-mt-30 text-white">One stop. All fashion</h1>
      <p class="fab-content fab-mt-20 text-white">
        Our stylist Curate.While you enjoy your TIME.
      </p>
      <a class="fab-btn fab-btn-gradientfilled fab-mt-50 fab-mb-10" (click)="takeToQuiz()" style="cursor: pointer;">Take Quiz</a>
    </div>
  </section>

  <section class="service">
    <div class="row service-wrapper text-center fab-pb-50">
      <div class="col-md-5 fab-carousel-services">
        <img src="assets/images/gt.gif" alt="">
      </div>
      <div class="col-md-7 service-content">
        <h2 class="fab-heading">
          Who are We?
        </h2>
        <p class="fab-content fab-mt-30">
          We are an online personal stylist provider
In India. We love fashion and think that
everyone should look the best version of
theirselves, we help you to fill your
wardrobe with all the things you will love
specially curated for you. You spend time
with your loved ones while we spend ours
for you.
        </p>
      </div>
    </div>

    <div class="availability text-center fab-plr-20 fab-pt-50 fab-pb-50" id="services">
      <h2 class="fab-heading fab-avail-mt-50">
        We Style for Everyone.
      </h2>
      <p class="fab-content fab-mt-30">
        You can get all fits, all sizes and all brands from us.
      </p>
      <div class="container fab-mt-80 availability-carousel-wrapper">
        <ul class="availability-carousel">
          <li class="fab-card">
            <div class="card-front">
              <img src="assets/images/rect1.png" alt="rect 1">
            </div>
            <div class="card-back">
              <p class="fab-card-text">Women</p>
              <p class="fab-card-content fab-mt-10">S | M | L</p>
            </div>
          </li>
          <li class="fab-card">
            <div class="card-front">
              <img src="assets/images/kids.jpg" alt="kids">
            </div>
            <div class="card-back">
              <p class="fab-card-text">Kids</p>
            </div>
          </li>
          <li class="fab-card">
            <div class="card-front">
              <img src="assets/images/rect3.png" alt="rect 1">
            </div>
            <div class="card-back">
              <p class="fab-card-text">Men</p>
              <p class="fab-card-content fab-mt-10">S | M | L</p>
            </div>
          </li>
          <li class="fab-card">
            <div class="card-front">
              <img src="assets/images/rect4.png" alt="rect 1">
            </div>
            <div class="card-back">
              <p class="fab-card-text">Men</p>
              <p class="fab-card-content fab-mt-10">S | M | L</p>
            </div>
          </li>
          <li class="fab-card">
            <div class="card-front">
              <img src="assets/images/rect5.png" alt="rect 1">
            </div>
            <div class="card-back">
              <p class="fab-card-text">Men</p>
              <p class="fab-card-content fab-mt-10">S | M | L</p>
            </div>
          </li>
          <li class="fab-card">
            <div class="card-front">
              <img src="assets/images/rect6.png" alt="rect 1">
            </div>
            <div class="card-back">
              <p class="fab-card-text">Men</p>
              <p class="fab-card-content fab-mt-10">S | M | L</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>



  <div class="wardrobe fab-pt-100" id="wardrobe">
    <div class="container-fluid wardrobe-content fab-plr-20 text-center">
      <h2 class="fab-title">
        Get Your Style Picked<br>
        by Specialists!
      </h2>
      <p class="fab-content fab-mt-30">
        See your Wardrobe filled with love made especially for you.
      </p>
      <a class="fab-btn fab-btn-gradientfilled fab-mt-70 fab-mb-10" (click)="takeToWardrobe()" style="cursor: pointer;">See Wardrobe</a>
    </div>
    <img src="assets/images/wave-one.svg" alt="Wave 1 Design" class="wave">
  </div>

  <app-testimonial></app-testimonial>

  
  <img src="assets/images/wave-three.svg" alt="Wave 3 Design" class="wave">
  <div class="about-us fab-pt-100 fab-pb-100" id="aboutus">
    <div class="about-us-content text-center fab-plr-20">
      <h2 class="fab-heading">
        About Us
      </h2>
      <p class="fab-content">
        We are an online personal stylist provider
In India. We love fashion and think that
everyone should look the best version of
theirselves, we help you to fill your
wardrobe with all the things you will love
specially curated for you. You spend time
with your loved ones while we spend ours
for you.
      </p>

      <div class="follow-us fab-mt-70">
        <p>
          Follow us
        </p>
        <div class="fab-social-media fab-mt-10">
          <a href="https://www.facebook.com/pg/fabraeclothing/community/" target="blank" class="fab-social-media-icon">
            <img src="assets/images/facebook.svg" alt="Facebook Logo">
          </a>
          <a href="https://instagram.com/fabraeofficial?utm_medium=copy_link" target="blank" class="fab-social-media-icon">
            <img src="assets/images/instagram.svg" alt="Instagram Logo">
          </a>
          <!-- <a href="" class="fab-social-media-icon">
            <img src="assets/images/twitter-logo.svg" alt="Twitter Logo">
          </a> -->
        </div>
      </div>
    </div>
  </div>

  <div id="faqs" class="fab-pt-50">
    <h2 class="fab-heading text-center">FAQ's</h2>

    <div class="container faq-content fab-mt-50 fab-pb-50">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button fab-accordian-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Subscription Cost
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>What is the subscription cost?</strong> <br><br>The subscription plan starts from ₹499/Month
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button fab-accordian-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Service Provided
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>What service do I get for the price?</strong> <br><br>You will be getting a stylist who will curate
              exactly what you like. You love shopping?
              You are always welcome to shop with us
              via our WhatsApp chat service.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button fab-accordian-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Return Product
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>What if I received a damaged product or
                wrong product?</strong> <br><br>Don’t worry you can always return the product according to the desired partners.
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button fab-accordian-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
              Subscription Cancellation
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Can I cancel my subscription?</strong> <br><br>Yes you can cancel your subscription
              service when ever you want.
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button fab-accordian-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
              Purchases
            </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Should I pay extra for my purchases?</strong> <br><br>Yes the subscription price is only for the styling service . If you like the product you can choose to pay for the product at extra cost at the desired website.
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button fab-accordian-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
              More Questions
            </button>
          </h2>
          <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Having any other questions?</strong> <br><br>Feel free to contact us via
              support@fabrae.com any time.
            </div>
          </div>
        </div>

      </div>
    </div>
    
  </div>

</main>

<app-footer></app-footer>
