<app-secondary-navbar></app-secondary-navbar>

<main>
  <section class="quiz container">
    <h2 class="fab-heading">
      {{question[arrIndex]}}
    </h2>

    <div>
      <form class="quiz-options">
        <div class="options" *ngFor="let options of options[arrIndex]">
          <div class="form-check" (click)="markAnswers(options)">
            <input class="form-check-input" type="radio" [name]="'inputfield'+arrIndex" [id]="options" [value]="options">
            <label class="form-check-label" [for]="options">
              {{options}}
            </label>
          </div>
        </div>
      </form>
    </div>

    <div class="prev-next">
      <!-- <a class="fab-btn" (click)="goBack()" *ngIf= "backBtnActive">Back</a> -->
      <a class="fab-btn" (click)="goNext()" *ngIf= "nextBtnActive" style="cursor: pointer;">Next</a>
      <a class="fab-btn fab-btn-gradientfilled" (click)="onSubmit()" *ngIf= "!nextBtnActive">Submit</a>
    </div>
  </section>

  <img src="assets/images/wave-one.svg" alt="Wave 1 Design" class="wave">
</main>

